{extend name="public/add" /}
{block name="form"}
<div class="content">
	{if isset($a)}<input type="hidden" name="id" value="{$a.id}" />{/if}
	<div style="padding: 0 0 10px 30px;margin:0 0 10px 0;font-size: 20px;border-bottom: 1px solid #C9C9C9;">修改密码</div>
	<div class="layui-form-item">
		<label class="layui-form-label">当前密码</label>
		<div class="layui-input-inline">
			<input type="password" name="admin_password" placeholder="请输入密码" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">新密码</label>
		<div class="layui-input-inline">
			<input type="password" name="admin_password1" placeholder="请输入密码" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">确认新密码</label>
		<div class="layui-input-inline">
			<input type="password" name="admin_password2" placeholder="请输入密码" class="layui-input">
		</div>
	</div>
</div>
{/block}
{block name="add"}
	<button type="button" class="layui-btn layui-btn-sm" onclick="add1('{:url('password')}')">修改</button>
{/block}
{block name="qx"}{/block}
{block name="js"}
<script>
	// 添加和修改
	function add1(url){
		var a = $("form").serialize();
		$.post(url,a,function(e){
			if(e.code==1){
				layer.msg(e.msg,{time:1000},function(){
					location.reload();
				})
			}else{
				layer.msg(e.msg,{time:1000})
			}
		});
	}
</script>
{/block}